.hero {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;

  height: 100vh;

  min-width: 100%;
  color: black;
  padding-bottom: 4rem;
}


.top {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(20rem);
}

.content {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 0;
  align-items: center;
  justify-content: flex-end;
}

.image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  flex-direction: column;
  gap: 5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
}

.back {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wavy {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  //transform: rotate(180deg);
}

.wavy svg {
  position: absolute;
  display: block;
  width: 100%;
  //width: calc(100% + 30px);
  height: 100%;
}

@media only screen and (min-width: 900px) {
  .back {
    //display: none;
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    height: 50rem;
  }
  .wavy {
    display: none;
  }
  .content {
    flex-direction: column;
  }

  .image {
    min-height: 55%;
    width: 100%;
  }

  .text {
    justify-content: flex-start;
    min-height: 45%;
    width: 100%;
  }
}
