.about {
  position: relative !important;
  margin: 3rem 0rem;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 4rem 1rem;

  //margin: auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-dark);
  font-size: 4rem;
  padding: 2rem 0rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-accent);
  font-size: 2rem;
}

.container {
  position: relative;
  max-width: 90rem;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: nowrap;
  gap: 3rem;
  //flex-direction: column;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  line-height: 1.55;
  font-size: 1.1rem;
}

.imageWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  //max-height: 20rem;
  //width: 20rem;

  //overflow: hidden;

  //border-radius: 8px;
}

.image {
  position: relative !important;
  border-radius: 10px;
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
  max-height: 30rem;
  margin-left: auto;
}

@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: auto;
    grid-auto-rows: auto;
  }

  .image {
    //margin: auto;
    //height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
  }
}
